.messageReturn{
    font-style: normal;
    font-size: 15px;
    margin-left: 3px;
}
.message{
    font-style:normal;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}